body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    color: rgb(128, 123, 123);
}

.name-color {
    color: coral;
}

section {
    display: flex;
}

.half {
    width: 50%;
    padding-left: 8%;
}

.half img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(204, 168, 22), rgb(11, 184, 86));
    padding: 10px 40px;
    color: aliceblue;
    border-radius: 5px;
    font-weight: 700;

}

.bag-pic {
    background-image: url(hero-alom-3.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 600px;
}

.center {
    text-align: center;
}


.itme img {
    width: 80%;
}

.itme {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px rgb(178, 156, 156);
    border-radius: 40px;
    padding: 1%;
}

.i-d {
    text-align: center;
    border-radius: 40%;
}